.postcard{
    background: var(--color-paper);
    padding:40px;
    border-radius:20px;
    box-shadow:var(--shadow-soft);
     width:380px;
     flex-shrink:0;
}

.greeting{
    font-size:1.5rem;
    margin-bottom:20px;
}

.message{
    line-height:1.8;
    margin-bottom:50px;
}

.signature{
    text-align:right;
    margin-bottom:30px;
}